body {
    background-color: rgb(245, 148, 4);
}

#titulo{
    font-size: 70px;
    text-align: center;
    color: rgb(211, 28, 28);

}
header{
    padding: 20px;
    background-color: rgb(19, 18, 18);
    border: bottom 5px;
    font-size: 35px;
    color: black;
}

.texto{
    font-size: 50px;
    text-align: justify;
    color: rgb(43, 5, 5);

}
.lista{
    font-size: 50px;
    text-align: center;
list-style-position:inside;
}

.listas2{
    font-size: 50px;
    text-align: center;
    list-style:nome;
}

.inicio{
    padding: 20px;
    background-color: black;
    border-bottom: 5px solid white;
    font-size: 50px;
    color:white;
    display: flex;
    justify-content: space-around;
}